/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.wp_launch_checklist .progress {
	display: flex;
	flex-direction: column;
	align-content: center;
	margin-bottom: 3rem;
}

.wp_launch_checklist h2 {
	margin-top: 0;
	margin-bottom: 1rem;
	line-height: 1;
}

.wp_launch_checklist label[for="progress-summary"] {
	padding-top: 1rem;
	align-self: flex-end;
}

.checklist-settings-wrapper {
	display: grid;
	grid-template-columns: 225px auto;
}

.checklist-settings-sections {
	background-color: #fff;
	padding: 1rem;
}

.checklist-settings-sections-tabs a {
	display: block;
	text-decoration: none;
	color: #000;
	padding: 1rem;
	font-size: 1.1rem;
	margin-bottom: 1px;
}

.checklist-settings-sections-tabs a.active,
.checklist-settings-sections-tabs a:hover {
	background: #fff;
}

.checklist-settings-section {
	display: none;
}

.checklist-settings-section div {
	margin-bottom: 1rem;
	border-bottom: 1px solid #ddd;
}

.checklist-settings-section div:last-of-type {
	border: none;
}

.checklist-settings-section p {
	margin: 5px 0 1.2rem 0;
}

.checklist-settings-section.active {
	display: block;
}

/* Settings page */
.wp_launch_checklist_settings label {
	display: inline-block;
}
